<p>Beste Onderzoeker,</p>

<p>U ontvangt deze mail omdat u een Sterrenlink hebt
  aangevraagd op www.sterrenscore.nl voor "<%= @oz %>".</p>


<p>Onderaan deze mail staat de Sterrenlink.
  Die stuurt u door naar de <%= @pv %>.</p>


<p>De <%= @pv %> krijgt met de link toegang tot een online vragenlijst,
  waarmee de Sterrenscore automatisch wordt bepaald.</p>
<p>U ontvangt een pdf met deze score; de pdf stuurt u mee naar het fonds, samen met uw aanvraag/onderzoeksvoorstel. Afspraken over de datum waarop u de Sterrenscore nodig heeft, maakt u direct met de patiëntenvereniging.
</p>
<p>Houd er alstublieft rekening mee dat het verwerken van de score tijd kost;
  maximaal 48 uur tussen het moment dat de patiëntenvereniging
  de score verstuurt, en dat u de pdf ontvangt.</p>
<p>Hieronder vindt u ook een korte toelichting voor de <%= @pv %>, om mee te sturen met de Sterrenlink.</p>


<p>Als u nog vragen heeft over de gang van zaken rond de Sterrenlink
  of de Sterrenscore, aarzel dan niet om contact op te nemen.
  Voor vragen hoe het Revalidatiefonds de Sterrenscore inzet,
  kunt u beter direct met het fonds contact opnemen.
</p>
<p>Met vriendelijke groet,
</p><p>Maud de Vries
</p>

----------------------------------------------------
<p>Onderzoeker: <%= @applicant %></p>
<p>Onderzoek: <%= @oz %></p>

<p>Bericht voor <%= @pv %></p>

<p>Beste mensen,</p>
<p>U ontvangt hierbij een "Sterrenlink" voor bovengenoemd onderzoeksvoorstel. De roze link onder aan dit bericht geeft u toegang tot een online vragenlijst. U krijgt vragen over het onderzoek en hoe de samenwerking met de onderzoekers naar de mening van de patiëntenvereniging is verlopen.</p>

<p>De vragenlijst is bedoeld om in te vullen NADAT u als patiëntenvereniging het onderzoeksvoorstel besproken heeft, met elkaar en liefst ook met de onderzoeker. Het aantal sterren - de Sterrenscore - wordt automatisch berekend.
  Tijdens het invullen van de vragenlijst kunt u terugbladeren naar eerdere vragen en uw antwoorden aanpassen. Totdat u op de knop "Verzenden" klikt.
</p>
<p>Binnen 48 uur na het indienen van de Sterrenscore ontvangen u en de onderzoeker een pdf met daarin een samenvatting van de Sterrenscore.</p>
<p>Meer informatie over de Sterrenscore vindt u op <a href="http://www.sterrenscore.nl">www.sterrenscore.nl</a></p>


<p><strong>*** Ga naar de <%= link_to 'Sterrenscore vragenlijst', @link_for_pv %>*** </strong></p>

<p>Voor vragen over de vragenlijst of hulp bij het invullen kunt u mailen naar maudcharta@gmail.com. U kunt ook mailen om een afspraak te maken voor een telefonische toelichting.

<p>Met vriendelijke groet,</p>

<p>Maud de Vries</p>
<p>www.sterrenscore.nl</p>

